.resume {
  line-height: 1.2;
  letter-spacing: .03em;
  margin-top: 0 !important;
}


.dl-button {
    display: none;
}

.resume-name {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 28pt;
  text-align: center;
  font-weight: bold;
}

.resume {
  width: 210mm;
  margin: 0 auto;
  position: relative;
}

.column {
  float: left;
  overflow: none;
}

.root-left {
  width: 40%;
  height: 100%;
  display: inline;
  padding-bottom: 80px;
}

.root-right {
  width: 57%;
  float: right;
  overflow: none;
  width: 57%;
  height: 100%;
  padding-bottom: 80px;
}

@media (min-width: 750px) {
  .dl-button {
    width: auto;
    display: inline;
    border-radius: 5px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    right: 2px;
    margin-top: 35px;
    margin-right: 0px;
    font-size: 9pt;
  }
  
  .dl-button:hover {
    background-color: $dark-grey;
  }
}

.experience-left {
  width: 60%;
  height: 100%;
  display: inline;
}

.experience-right {
  float: right;
  overflow: none;
  width: 37%;
  height: 100%;
}

.vline {
  border-style: none;
  border-width: 0px;
  background-color: $highlight-grey;
  height: 1px;
  width: 100%;
  margin-top: 3px;
}

/* Contact Info */
.contact-info {
  padding-top: 0px;
  padding-bottom: 5px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-color: $highlight-grey;
  border-width: 1px;
  border-style: solid;
  font-size: 8pt;
}

.contact-info p {
  padding-top: 5px;
  padding-left: 7px;
  padding-bottom: 1px;
  padding-right: 7px;
  margin: 0px;
}
/* **************** */

/* Tech Info */
.grid {
  width: 100%;
  font-size: 8pt;
  padding-left: 0px;
  padding-top: 0px;

  .item {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: $dark-grey;
    background-color: $dark-grey;
    margin: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
/* **************** */



/* General Formatting */
.list {
  width: 100%;
  font-size: 8pt;
}

.list .item {
  width: 100%;
}

.list .item .header {
  width: 100%;
}

.list .item:after {
  content: "";
  display: table;
  clear: both;
}

.heading {
  margin-bottom: 7px;
  margin-top: 10px;
  font-size: 16pt;
  font-weight: bold;
}
/* **************** */


/* Experience */
.location {
  float: right;
}

.experience .list .item {
  padding-bottom: 10px;
}

.experience .list .item .title {
  font-size: 10pt;
  font-weight: bold;
}

.experience .list .item .range {
  text-align: right;
  margin-top: 4px;
}

.experience .list .item .company {
  margin-top: 2px;
  font-size: 9pt;
}

.experience .list .item .location {
  margin-top: 3px;
}

.experience .list .item .info {
  margin-top: 2px;
  display: inline-block;
  font-size: 7pt;
  font-style: italic;
  color: $highlight-grey;
}

.experience .list .item .description {
  // margin-top: 5px;
  display: inline-block;
  font-size: 8.5pt;
  text-align: justify;
  text-justify: inter-word;
}
/* **************** */


/* Education */
.education .list .item .left {
  width: 30%;
}

.education .heading {
  margin-top: 25px;
}

.experience .list .item .left {
  width: 65%;
}

.education .list .item {
  padding-bottom: 7px;
}

.education .degree {
  font-size: 10pt;
  font-weight: bold;
}
/* **************** */

/* Online Courses */
.online .heading {
  margin-top: 25px;
}

.online .list .item {
  padding-bottom: 7px;
}

.online .course {
  display: block;
  font-size: 10pt;
  font-weight: bold;
}

.online .provider {
  display: block;
  font-style: italic;
}
/* **************** */

.resume-footer {
    height: 40px;
    display: table;
}


@page {
  size: A4;
  margin: 5px;
}

@media print {
  #site-header {
    display: none;
  }

  html, body {
    height: 90%;
    color: black !important;
  }

  a, .heading {
    color: black !important;
  }

  .contact-info {
    background: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }

  .tech .grid .item {
    background-color: none;
    border-color: black;

    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .name {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .dl-button {
    visibility: hidden;
  }

  .vline {
    background-color: black !important;

    -webkit-print-color-adjust: exact; 
  }
  tr.vendorListHeading {
      background-color: none !important;
  }
}
