{{ define "title" }}
<title>Resume</title>
{{ end }}

{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="resume site-main section-inner thin animated fadeIn faster">
      <a href="{{ .Site.Params.Resume.Url }}" target="_blank">
        <div class="dl-button">
            Download
        </div>
      </a>

      <h1 class="resume-name">{{ .Site.Author.name }}</h1>

      <!-- Left column -->
      <div class="column root-left">
        <!-- contact info -->
        <div class="contact-info">
          <p>{{ .Site.Author.address }}</p>
          <p>
            <a href="tel:{{ .Site.Author.phone }}" target="_blank">
              {{ .Site.Author.phone }}
            </a>
          </p>
          <p>
          <a href="mailto:{{ .Site.Author.email }}" target="_blank">
             {{ .Site.Author.email }} 
            </a>
          </p>
          <p>
            <a href="https://{{ .Site.Author.website }}" target="_blank">
              {{ .Site.Author.website }} 
            </a>
          </p>
        </div>

        <!-- tech -->
        <div class="tech">
          <div class="heading">
            Tech
            <div class="vline"></div>
          </div>
          <ul class="grid">
            {{- range .Pages.GroupBy "Type" }}
              {{if eq .Key "tech" }}
                {{- range .Pages }}
                  {{- range $tech := .Params.Techs }}<!--
                  --><li class="item">{{ $tech }}</li><!--
               -->{{- end }}
                {{- end }}
              {{ end }}
            {{- end }} 
            </ul>
        </div>

        <!-- education -->
        <div class="education">
          <div class="heading">
            Education
            <div class="vline"></div>
          </div>
          <div class="list">
            {{- range .Pages.ByDate }}
              {{if eq .Type "edu" }}
                <div class="item">
                  <div class="column left">
                    <div class="year">
                      {{ .Params.EndDate }}
                    </div>
                  </div>
                  <div class="column right">
                    <div class="degree">
                      {{ .Params.Degree }}
                    </div>
                    <div class="field">
                      {{ .Params.Major }}
                    </div>
                    <div class="university">
                      <a href="{{ .Params.Link }}" target="_blank">
                        {{ .Params.Name }}
                      </a>
                    </div>
                  </div>
                </div>
              {{ end }}
            {{- end }}
          </div>
        </div>

        <!-- mooc -->
        <div class="online">
          <div class="heading">
            Online Courses
            <div class="vline"></div>
          </div>
          <div class="list">
            {{- range .Pages.ByWeight }}
              {{if eq .Type "mooc" }}
                <div class="item">
                  <a target="_blank" href="{{ .Params.Link }}">
                    <span class="course">
                      {{ .Params.Name }}
                    </span>
                    <span class="provider">
                      {{ .Params.Provider }}
                    </span>
                  </a>
                </div>
              {{ end }}
            {{- end }}
          </div>
        </div>

      </div>

      <!-- right column -->
      <div class="column root-right">
        <div class="experience">
          <div class="heading">
            Experience
            <div class="vline"></div>
          </div>
          <div class="list">
            {{- range .Pages }}
              {{if eq .Type "job" }}
                <div class="item">
                  <div class="header">
                    <div class="column experience-left">
                      <div class="title">
                        {{ .Params.Position }}
                      </div>
                      <div class="company">
                        <a href="{{ .Params.Link }}" target="_blank">
                          {{ .Params.Name }}
                        </a>
                      </div>
                    </div>
                    <div class="column experience-right">
                      <div class="range">
                        {{if .Params.EndDate }}
                          {{ .Date.Format .Site.Params.dateform }} - {{ dateFormat .Site.Params.dateform .Params.EndDate }}
                        {{else}}
                          Current, from {{ .Date.Format .Site.Params.dateform }}
                        {{end}}
                      </div>
                      <div class="location">
                        {{ .Params.Location }}
                      </div>
                    </div>
                  </div>
                  {{if .Params.Info }}
                    <div class="info">
                      {{ .Params.Info }}
                    </div>
                  {{ end }}
                  <div class="description">
                    {{ .Content }}
                  </div>
                </div>
              {{ end }}
            {{- end }}
          </div>
        </div>
      </div>
	</main>
{{ end }}

{{ define "footer" }}
{{ end }}
